# OS
.DS_Store
Thumbs.db

# Editor
.vscode/*
!.vscode/extensions.json

# Environment
.env
.env.local
.env.*.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Dependencies
node_modules/

# Build output
dist/
build/
api/node_modules/
api/local.settings.json
